header{
    color: aliceblue;
    background-color: #004080;
    grid-area: cabecera;
}

aside {
    background-color: orange;
    grid-area: menu;

}

main {
    background-color: #999;
    grid-area: principal;

}

footer{
    padding: 20px;
    text-align: center;
    background-color: white;
    color: #004080;
    grid-area: pie;

}


body{
    display: grid;
    grid-template-areas: 
    
    "cabecera   cabecera"
    "menu       principal"
    "pie        pie";

}